@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: "Mulish", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  display: flex;

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f3f4f7;
    padding: 16px 20px;

    .menuContainer {
      width: 100%;
      height: 56px;
    }

    .contentContainer {
      margin-top: 20px;

      height: 83vh;
      overflow: auto;

      ::-webkit-scrollbar {
        width: 12px; /* Width of the scrollbar */
      }
      ::-webkit-scrollbar-thumb {
        background: #888; /* Color of the thumb */
        border-radius: 6px; /* Rounded corners for the thumb */
      }
      ::-webkit-scrollbar-track {
        background: #f1f1f1; /* Color of the track */
        border-radius: 6px; /* Rounded corners for the track */
      }
    }
  }
}
